<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357324862451-knn3a7rk58on5ac3fdve49kqltqbqh89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357324862451-knn3a7rk58on5ac3fdve49kqltqbqh89</string>
	<key>API_KEY</key>
	<string>AIzaSyDrYGkIUtCfMXN1-4igMudFM-_9piUui7A</string>
	<key>GCM_SENDER_ID</key>
	<string>357324862451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.EHealth</string>
	<key>PROJECT_ID</key>
	<string>e-health-a7b49</string>
	<key>STORAGE_BUCKET</key>
	<string>e-health-a7b49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357324862451:ios:5a3bc665635b2a4a55d886</string>
	<key>DATABASE_URL</key>
	<string>https://e-health-a7b49.firebaseio.com</string>
</dict>
</plist>